# Entorno virtual
.venv/
env/
venv/
ENV/

# Datos pesados
*.csv
*.zip
*.sqlite

# Excepción: reportes generados por el análisis
!reporte_auditoria_olist.xlsx

# Archivos de sistema y temporales de Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.DS_Store
Thumbs.db